<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3小时入门Django入门框架</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
    <h1>三小时入门Django Web框架</h1>
    <samll>- by Kiddy  </samll>
</div>


<div class="container page-body">
    <div class="col-md-9" role="main">
        <div class="body-main">
            <div>
                <h2>文章标题1</h2>
                <p>据多位作者、网友透露，《今古传奇·武侠版》停刊了。据悉，《今古传奇·武侠版》创办于2001年，是专门刊登武侠类型小说的一本杂志，金庸、梁羽生、温瑞安的作品都曾发表在武侠版上，通过《今古传奇·武侠版》还走出凤歌（《昆仑》《沧海》）、沧月（《镜·双城》《听雪楼》）、步非烟（《武林客栈》《天舞纪》）等知名武侠作家。</p>
                <p>11月1日，一份名为“关于禁止午间趴睡的通知”的文件在网上热传，引发网友普遍关注。2日早上，涉事的杭州某电子商务公司负责人回复上游新闻记者称：文件属实，员工可以买折叠床来睡。杭州市西湖区人力社保局表示该文件不违反相关法规，属于公司内部规定。</p>
            </div>
            <div>
                <h2>文章标题2</h2>
                <p>近日，2022年杭州婚姻登记大数据出炉。从数据中可以得出以下结论：男性平均初婚年龄比2021年提高0.3岁至28.8岁，而女性则提高了0.4岁至27.5岁，显示出杭州的初婚年龄正在推迟。此外，2022年的“姐弟恋”比例也连续第三年上升，有了较明显的提升。从表面上看，杭州男性和女性的初婚年龄都在逐年推迟，而且姐弟恋的比例也在不断提升。这样的情况一方面说明，杭州一些男性和女性对婚姻的要求越来越高，择偶不仅关注另一半的家庭背景、教育背景，更多以性格、兴趣方面来考量，追求心仪的另一半，所以才会导致初婚年龄推迟；另一方面，近几年来“姐弟恋”的婚姻比例不断上升，可能也与社会及家人的观念都在逐渐改变有关。</p>
            </div>
        </div>
    </div>
    <div class="col-md-3" role="complementary">
        <div>
            <h2>最新文章</h2>
            <h4><a href="#">最新文章1</a></h4>
            <h4><a href="#">最新文章2</a></h4>
            <h4><a href="#">最新文章3</a></h4>
            <h4><a href="#">最新文章4</a></h4>
            <h4><a href="#">最新文章5</a></h4>
            <h4><a href="#">最新文章6</a></h4>
        </div>
    </div>

</div>
</body>
</html>